.ep{
    font-family: tahoma;
    font-size: 16px;
    background: white;
    color: black;
    border-radius: 7px;
   }
#centrado{
    text-align: center;
    
    background: #3282b8;
    color: white;
       padding: 4% 0;
       border-radius: 5px;
       margin: 5% 0;
   }
table {
    margin: auto;
   }
img{
    margin: auto;
    display: block;
}

input{
    background: #3282b8;
    width: 90%;
    
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
   
    font-family: 'calibri';
    font-size: 18px;
    color: white;
    box-sizing: border-box;
}

select{
    background: #3282b8;
    width: 90%;
    
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
   
    font-family: 'calibri';
    font-size: 18px;
    color: white;
    box-sizing: border-box;
}
option{
    background: #5f6f8f;
    width: 90%;
    
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
   
    font-family: 'calibri';
    font-size: 18px;
    color: white;
    box-sizing: border-box;
}
.Boton{
    width: 90%;
    background-color: #3282b8;
    border: none;
    padding: 12px;
    color: white;
    margin: 10px auto;
    font-size: 16px;
    border-radius: 7px;
}

.Boton:hover, select:hover{
    background-color: #5f6f8f;
}